.air-condition {
  position: absolute;
  width: 59%;
  height: 29%;
  background-color: #202c3c;
  top: 69%;
  left: 7%;
  border-radius: 10px;
}

.condition-header {
  position: absolute;
  top: 5%;
  left: 6%;
  color: whitesmoke;
  font-size: 12px;
  font-weight: bold;
}

.condition-button{
 position: absolute;
 top: 8%;
 right: 6%;
 width: 80px;
 height: 25px;
 color: whitesmoke;
background: linear-gradient(to bottom, #4facfe, #0061ff);  
border-radius: 15px;
border: none;
}

.condition-temp-icon{
  position: absolute;
  top: 25%;
  left: 5%;
  color: whitesmoke;
}

.condition-temp-text{
  position: absolute;
  top: 18%;
  left: 9%;
  color: whitesmoke;
  font-size: 17px;
}

.condition-temp-value{
  position: absolute;
  top: 25%;
  left: 9%;
  color: whitesmoke;
  font-size: 30px;
}

.condition-wind-icon{
  position: absolute;
  top: 25%;
  right: 40%;
  color: whitesmoke;
}

.condition-wind-text{
  position: absolute;
  top: 19%;
  right: 34%;
  color: whitesmoke;
  font-size: 18px;
}

.condition-wind-value{
  position: absolute;
  top: 25%;
  right: 28%;
  color: whitesmoke;
  font-size: 30px;
}

.condition-water-icon{
  position: absolute;
  top: 60%;
  left: 5%;
  color: whitesmoke;
}

.condition-humidity-text{
  position: absolute;
  top: 54%;
  left: 9%;
  color: whitesmoke;
  font-size: 18px;
}

.condition-humidity-value{
  position: absolute;
  top: 60%;
  left: 9%;
  color: whitesmoke;
  font-size: 30px;
}

.condition-sun-icon{
  position: absolute;
  top: 60%;
  right: 40%;
  color: whitesmoke;
}

.condition-sun-text{
  position: absolute;
  top: 54%;
  right: 30%;
  color: whitesmoke;
  font-size: 18px;
}

.condition-sun-value{
  position: absolute;
  top: 60%;
  right: 36.5%;
  color: whitesmoke;
  font-size: 30px;
}

@media screen and (max-width: 1024px) {
  .air-condition {
    width: 59%;
    height: 13%;
    top: 36%;
    left: 9.5%;
    background-color: #202c3c;
  }

  .condition-header {
    top: 3%;
    left: 4%;
    font-size: 10px;
  }

  .condition-button {
    top: 5%;
    right: 4%;
    width: 70px;
    height: 20px;
    font-size: small;
  }

  .condition-temp-icon,
  .condition-wind-icon,
  .condition-humidity-icon,
  .condition-sun-icon {
    width: 30px;
    height: auto;
  }

  .condition-temp-text,
  .condition-wind-text{
    right: 32%;
  }
  .condition-humidity-text,
  .condition-sun-text {
    font-size: medium;
    right: 28%;
  }

  .condition-temp-value{
    font-size: medium;
    margin-top: 25px;
    left: 10%;
  }

  .condition-wind-value{
    font-size: medium;
    margin-top: 27px;
    right: 30%;
  }
  .condition-humidity-value{
    font-size: medium;
    margin-top: 25px;
    left: 10%;
  }
  .condition-sun-value{
    font-size: medium;
    margin-top: 25px;
  }

  .condition-button{
    margin-top: 5px;
  }
}