.todays-forecast {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(32, 43, 61);
  border-radius: 10px;
  height: 175px;
  position: absolute;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateX(11%);
  top: 44%;
  width: 59%;
  overflow: hidden;
}

.forecast-header {
  position: absolute;
  top: 5%;
  left: 4%;
  color: whitesmoke;
  font-size: 12px;
  font-weight: bold;
}

.forecast-time,
.forecast-time-2,
.forecast-time-3,
.forecast-time-4,
.forecast-time-5,
.forecast-time-6 {
  position: absolute;
  top: 22%;
  color: whitesmoke;
  font-size: small;
}

.forecast-temp,
.forecast-temp-2,
.forecast-temp-3,
.forecast-temp-4,
.forecast-temp-5,
.forecast-temp-6 {
  position: absolute;
  color: whitesmoke;
  font-size: small;
  font-weight: bold;
}

.clear-weather-icon,
.sunny-weather-icon,
.cloudy-weather-icon,
.cloud-weather-icon-2,
.rain-weather-icon,
.thunder-weather-icon {
  position: absolute;
  width: 50px;
}


.forecast-time      { left: 6%; }
.forecast-temp      { top: 70%; left: 7%; }
.clear-weather-icon { top: 41%; left: 5.8%; }

.forecast-time-2      { left: 20%; }
.forecast-temp-2      { top: 70%; left: 21.4%; }
.sunny-weather-icon   { top: 41%; left: 20%; }

.forecast-time-3      { left: 35%; }
.forecast-temp-3      { top: 70%; left: 36.8%; }
.cloudy-weather-icon  { top: 40%; left: 36%; }

.forecast-time-4        { left: 54.5%; }
.forecast-temp-4        { top: 70%; left: 55%; }
.cloud-weather-icon-2   { top: 41%; left: 54%; }

.forecast-time-5     { left: 71.5%; }
.forecast-temp-5     { top: 70%; left: 73%; }
.rain-weather-icon   { top: 41%; left: 71.5%; }

.forecast-time-6       { left: 88%; }
.forecast-temp-6       { top: 69%; left: 89%; }
.thunder-weather-icon  { top: 41%; left: 88%; }

/* Lines */
.line,
.line-2,
.line-3,
.line-4,
.line-5 {
  position: absolute;
  top: 25%;
  height: 50%;
  width: 1px;
  background-color: #999;
  border: none;
}

.line      { left: 15.5%; }
.line-2    { left: 30.5%; }
.line-3    { left: 48%; }
.line-4    { left: 65%; }
.line-5    { left: 82%; }

@media screen and (max-width: 1024px) {
  .todays-forecast {
    left: 3%;
    top: 22.5%;
    background-color: seashell
  }

  .forecast-header{
    color: rgb(43, 40, 40);
  }
  
  .forecast-time,
  .forecast-time-2, 
  .forecast-time-3,
  .forecast-time-4,
  .forecast-time-5,
  .forecast-time-6{
    color: rgb(43, 40, 40);
    font-size: 15px;
    font-weight: bold;
  }
  .forecast-temp,
  .forecast-temp-2,
  .forecast-temp-3,
  .forecast-temp-4,
  .forecast-temp-5,
  .forecast-temp-6 {
    color: rgb(43, 40, 40);
  }

  .line { left: 17%;}
  .line-2 { left: 32%; }
  .line-3 { left: 50%; }
  .line-4 { left: 67%; }
  .line-5 { left: 84%; }
}
 